<section>
  <h2>{{taxRates.label}}</h2>

  <div class="inputs">
    <div class="subTotal">
      <label for="subTotal">Sous-total :</label>
      <input
        #initialFocusInput
        id="subTotal"
        type="text"
        [value]="rounded.subTotal"
        (input)="onUpdateSubtotal($event)"
      />
    </div>
    <div class="taxes">
      <label for="subTotal">{{taxRates.tax1.label}} :</label>
      <input disabled type="text" id="tax1" [value]="rounded.tax1" />
    </div>
    <div *ngIf="taxRates.tax2" class="taxes">
      <label for="subTotal">{{taxRates.tax2.label}} :</label>
      <input disabled type="text" id="tax1" [value]="rounded.tax2" />
    </div>
    <div class="total">
      <label for="subTotal">Total :</label>
      <input
        type="text"
        id="total"
        [value]="rounded.total"
        (input)="onUpdateTotal($event)"
      />
    </div>
  </div>
</section>
