.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 26ch;

  div {
    display: flex;
    justify-content: space-between;
  }

  input {
    padding: .25em;
    width: 15ch;
  }

  .taxes input {
    border-color: transparent;
    background-color: transparent;
  }

}
